.weather-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.current-temperature {
  font-size: 1.25rem;
  font-weight: 500;
}

.low-temperature {
  color: #70757a
}

.location-container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

mat-card-actions {
  justify-content: center;
}

.user-card {
  width: 400px;
}

@media only screen and (max-width: 400px) {
  .user-card {
    width: 320px;
  }
  mat-card-title, .current-temperature {
    font-size: 1rem;
  }
  mat-card-subtitle, .low-temperature, .high-temperature, .location-container {
    font-size: 0.75rem;
  }
}