<mat-card class="user-card">
  <mat-card-header>
    <img mat-card-avatar [src]="user.picture.large">
    <mat-card-title>{{ user.name.title }}. {{ user.name.first }} {{ user.name.last }}</mat-card-title>
    <mat-card-subtitle>
      {{ user.gender | titlecase }} | {{ user.email }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div *ngIf="weather$ | async as weather">
      <div class="weather-info-row">
        <img [src]="weatherIconSrc" />
        <div class="current-temperature">
          {{ weather.current_weather.temperature }}{{ weather.current_weather_units.temperature }}
        </div>
      </div>
      <div class="weather-info-row">
        <div>{{ weather.daily.temperature_2m_max[0] }}{{ weather.daily_units.temperature_2m_max }}</div>
        <div>|</div>
        <div class="low-temperature">{{ weather.daily.temperature_2m_min[0] }}{{ weather.daily_units.temperature_2m_min }}</div>
      </div>
    </div>
    <div class="location-container">
      <div>{{ user.location.street.number }} {{ user.location.street.name }}</div>
      <div>{{ user.location.city }}, {{ user.location.state }}, {{ user.location.country }}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="saveUserInfo()">Save</button>
  </mat-card-actions>
</mat-card>