.weather-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.current-temperature {
  font-size: 1.25rem;
  font-weight: 500;
}

.low-temperature {
  color: #70757a
}

.map-container {
  padding: 0.5rem 0;
}

.location-container {
  margin-bottom: 0.5rem;
  text-align: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 236px;
}

mat-card-actions {
  padding: 1rem;
  justify-content: center;
}

.user-card {
  width: 400px;
}

.weather-icon {
  width: 50px;
}

.leaflet-container {
  height: 150px;
  width: 300px;
  margin: auto;
}

@media only screen and (max-width: 400px) {
  .user-card {
    width: 320px;
  }
  .weather-icon {
    width: 40px;
  }
  .leaflet-container {
    height: 160px;
    width: 280px;
    margin: auto;
  }
  .spinner-container {
    height: 235px;
  }
  mat-card-title {
    font-size: 1rem;
  }
  mat-card-subtitle, .low-temperature, .high-temperature, .location-container {
    font-size: 0.75rem;
  }
}